వివిధ దేశాల నుండి తరలివచ్చి మాతో భేటీ అయిన ప్ర‌తినిధులకు ఢిల్లీ చ‌రిత్ర ను, ఢిల్లీ శోభ‌ ను గురించి తెలుసుకోవ‌డానికి కొంత కాలం చిక్కుతుందని నేను ఆశిస్తున్నాను.
2018 సంవత్సరపు ప్ర‌పంచ ప‌ర్యావ‌రణ దినానికి ప్రపంచ ఆతిథేయిగా ఉంటున్నందుకు మేం గ‌ర్విస్తున్నాము.
మేం ఎంతో నిబ‌ద్ధ‌త‌తో సుస్థిర‌మైన, ప‌ర్యావ‌ర‌ణ హిత‌మైన మార్గంలో ఈ ప‌నిని చేయ‌డానికి వచనబ‌ద్ధులమై వున్నాము.
ఇది పల్లెప్రాంతాల మహిళలకు విష‌పూరిత‌మైన పొగ తాలూకు క్లేశాల బారి నుండి విముక్తిని ప్రసాదించింది.
నవీకరణయోగ్య శక్తి ఉత్సాదన దిశగా మేము పెద్ద ఎత్తున కృషి చేస్తున్నాము.
ఇప్పటికే ప్రపంచంలో ఐదో అతి పెద్ద సౌర విద్యుత్ ఉత్పత్తి దేశం గా మనం ఉన్నాం.
ఇదొక్క‌టే కాదు, మేము 6వ అతి పెద్ద న‌వీక‌ర‌ణ యోగ్య శ‌క్తి ఉత్పాద‌క దేశం కూడాను.
మేము జనాభాలో య‌వ్వ‌నులైన వారు ఎక్కువ సంఖ్య‌లో ఉన్న‌టువంటి దేశం.
మా వృక్షాలు, వన్య ప్రాంత విస్తీర్ణం సైతం గ‌త రెండు సంవ‌త్స‌రాలలో ఒక శాతం మేర వృద్ధి చెందింది.
